.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
                //-check xem quyền của tài khoản đăng nhập vào có được xem các danh mục không
                //-role ở đây là biến toàn cục,không biết thì check trong middleware
            if(role.permissions.includes("products-category_view"))
                li 
                    a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
            if(role.permissions.includes("products_view"))
                li  
                    a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
            if(role.permissions.includes("roles_view"))
                li 
                    a(href=`${prefixAdmin}/roles`) Nhóm quyền
            if(role.permissions.includes("roles_permissions")) 
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            if(role.permissions.includes("accounts_view"))
                li 
                    a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản